*.log
.DS_Store
node_modules
coverage
.cache
packages/client/dist/**
!packages/client/dist/index.cjs
!packages/client/dist/index.js
packages/ws-provider/dist/**
!packages/ws-provider/dist/index.cjs
!packages/ws-provider/dist/index.js
packages/provider/dist/**
!packages/provider/dist/index.cjs
!packages/provider/dist/index.js
packages/utils/dist/**
!packages/utils/dist/index.cjs
!packages/utils/dist/index.js
packages/scale-ts/dist/**
!packages/scale-ts/dist/index.cjs
!packages/scale-ts/dist/index.js
packages/solidity-codecs/dist/**
!packages/solidity-codecs/dist/index.cjs
!packages/solidity-codecs/dist/index.js
packages/solidity-bindings/dist/**
!packages/solidity-bindings/dist/index.cjs
!packages/solidity-bindings/dist/index.js
packages/solidity-codegen/dist/**
!packages/solidity-codegen/dist/index.cjs
!packages/solidity-codegen/dist/index.js
