#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  top: 10rem;
  width: 80%;
}

.error {
  border: 0.2rem solid #db4437;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  color: #db4437;
  font-size: 0.9rem;
  font-weight: bold;
}
