#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  top: 10rem;
  width: 80%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hex-input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.hex-button {
  margin-top: 1rem;
  width: 13rem;
}

.help_tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.help_tooltip .help_tooltiptext {
  visibility: hidden;
  width: 40vw;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 0.6rem;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 0.8rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -0.5rem;
  right: 105%;
}

.help_tooltip:hover .help_tooltiptext {
  visibility: visible;
}
