.help_tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.help_tooltip .help_tooltiptext {
  visibility: hidden;
  width: 30vw;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 0.6rem;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 0.8rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -0.5rem;
  right: 105%;
}

.help_tooltip:hover .help_tooltiptext {
  visibility: visible;
}

.error {
  border: 0.2rem solid #db4437;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  color: #db4437;
  font-size: 0.9rem;
  font-weight: bold;
}
