name: CI

on:
  pull_request:
  merge_group:
  workflow_dispatch:
  push:
    branches:
      - v2

permissions:
  contents: read

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - "22"
          - "24"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-${{ matrix.node-version }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-turbo-
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
      - name: Install deps
        run: pnpm install
      - name: Build core
        run: pnpm turbo build-core --cache-dir=.turbo
      - name: Install papi
        run: pnpm install
      - name: Build external
        run: pnpm build-external
      - name: Lint
        run: pnpm lint
      - name: Test
        run: NODE_VERSION=${{matrix.node-version}} pnpm test
      - name: Store logs
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: Logs
          path: integration-tests/chopsticks/LOGS_${{matrix.node-version}}*

  # this allows our branch protection mechanism to work with matrix-based runs
  build-status:
    runs-on: ubuntu-latest
    needs: [build]
    if: always()
    steps:
      - run: ${{!contains(needs.*.result, 'failure')}}
