name: Publish

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - "24"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-${{ matrix.node-version }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-turbo-
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
          registry-url: https://registry.npmjs.org
      - name: Install deps
        run: pnpm install
      - name: Build core
        run: pnpm turbo build-core --cache-dir=.turbo
      - name: Install papi
        run: pnpm install
      - name: Build external
        run: pnpm build-external
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
  publish:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        node-version:
          - "24"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-${{ matrix.node-version }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-turbo-
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm
          registry-url: https://registry.npmjs.org
      - name: Install deps
        run: pnpm install
      - name: Build
        run: pnpm turbo build-core --cache-dir=.turbo
      - name: Publish
        run: pnpm -r publish --no-git-checks --access=public --tag rc
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_AUTOMATION_TOKEN }}
          NPM_CONFIG_PROVENANCE: "true"
