name: Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-20.x-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-20.x-turbo-
      - uses: pnpm/action-setup@v3
      - name: Setup Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm
          registry-url: https://registry.npmjs.org
      - name: Install deps
        run: pnpm install
      - name: Build core
        run: pnpm turbo build-core --cache-dir=.turbo
      - name: Install papi
        run: pnpm install
      - name: Build external
        run: pnpm build-external
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
      - name: Run Integration Tests
        run: pnpm test:ci
  publish:
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        value:
          [
            cli,
            client,
            codegen,
            docgen,
            ink-contracts,
            json-rpc/json-rpc-provider,
            json-rpc/json-rpc-provider-proxy,
            json-rpc/logs-provider,
            json-rpc/polkadot-sdk-compat,
            json-rpc/sm-provider,
            json-rpc/ws-provider,
            known-chains,
            merkleize-metadata,
            metadata-builders,
            metadata-compatibility,
            observable-client,
            signers/ledger-signer,
            signers/pjs-signer,
            signers/polkadot-signer,
            signers/signer,
            smoldot,
            substrate-bindings,
            substrate-client,
            tx-utils,
            utils,
            view-builder,
          ]
    steps:
      - uses: actions/checkout@v4
      - name: Check if version has been updated
        id: check
        uses: EndBug/version-check@v2
        with:
          diff-search: true
          file-name: ./packages/${{ matrix.value }}/package.json
      - uses: actions/cache@v3
        if: steps.check.outputs.changed == 'true'
        with:
          path: .turbo
          key: ${{ runner.os }}-20.x-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-20.x-turbo-
      - uses: pnpm/action-setup@v3
        if: steps.check.outputs.changed == 'true'
      - name: Setup Node.js 20.x
        if: steps.check.outputs.changed == 'true'
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: pnpm
          registry-url: https://registry.npmjs.org
      - name: Install deps
        if: steps.check.outputs.changed == 'true'
        run: pnpm install
      - name: Build
        if: steps.check.outputs.changed == 'true'
        run: pnpm turbo build-core --cache-dir=.turbo
      - name: Publish
        if: steps.check.outputs.changed == 'true'
        working-directory: packages/${{ matrix.value }}
        run: |
          pnpm publish --no-git-checks --access=public --tag latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_AUTOMATION_TOKEN }}
